
*:focus {
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
body {
    background: #151515;
    color: #a1a1a1;

}

h1 {
    text-align: center;
    font-family: 'Passion One', cursive;
    margin-top: 100px;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

h3 {
    text-align: center;
    font-family: 'Passion One', cursive;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

div {
    margin: 10px;
}

p {
    font-family: 'Cutive', serif;
    text-align: center;
}
hr {
    width: 50%;
    margin: auto;
}

.button {
    padding: 10px;
    border: solid 1px #fff;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}
.button:hover {
    background: #28282e;
    cursor: default;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    cursor: default;
}
.textfield {
    color: #a1a1a1 !important;
    border: 1px solid #a1a1a1 !important;
    background-color: #151515 !important;
}
.textfield:focus {
    border-color: #a1a1a1 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(214, 214, 225, 0.6) !important;
}

#ready-icon {
    margin-right: 10px;
}

.guest .selectable-glyph {
    margin-left: 10px;
}

.guest .selectable-glyph:hover{
    cursor: pointer;
    opacity: 0.5;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}


#card-container {
    perspective: 800;
}

.card {


    background: #e4e4e4;
    border-radius: 20px;
    transition: all 1s ease;
    transform-style: preserve-3d;
    padding: 120px 0px;
}
.front, .back {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    backface-visibility: hidden;
}
.back {
    transform: rotateY(180deg);
}
.card p {
    color: #000;
    text-align: center;
}

.flipped {
    transform: rotateY(180deg);
}
.ui-loader {
    display: none;
}

