
body {
    background: #e8e8ee;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    text-align: center;
    margin: 0px;
}

canvas {
    border: solid #000 1px;
}

.big-button-main-menu {
    background: #a0c55f;
    max-width: 50%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    padding: 10px;
    font-size: 50px;
    border: solid #88b140 3px;
    border-radius: 20px 0px;
}
.big-button-main-menu:hover {
    background: #90b155;
    cursor: default;
}

#end-button {
    background: #a0c55f;
    max-width: 25%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    padding: 10px;
    font-size: 50px;
    border: solid #88b140 3px;
    border-radius: 20px;
}
#end-button:hover {
    background: #90b155;
    cursor: default;
}


.stroke {
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

.little-button-main-menu {
    background: #a0c55f;
    max-width: 25%;
    margin: auto;
    margin-top: 24px;
    text-align: center;
    padding: 10px;
    font-size: 26px;
    border: solid #88b140 3px;
    border-radius: 20px 0px;
}

.little-button-main-menu:hover {
    background: #90b155;
    cursor: pointer;
}

#diff {
    display: none;
}


.card {
    width: 8%;
    border: solid #000 1px;
    border-radius: 8px;
    padding: 50px 0px;
    background: #fff;
    margin: 5px 5px;
    display: inline-block;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.perm-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.card .number {
    font-weight: bolder;
    color: #000;
    font-size: 32px;
}
.card .number:hover {
    cursor: default;
}

.marker {
    width: 16%;
    border: solid #000 1px;
    border-radius: 20px 20px 0px 0px;
    padding: 10px 0px;
    background: #fff;
    margin: 10px 10px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}
.marker .marker-number {
    font-weight: bolder;
    color: #000;
    font-size: 14px;
}

.marker. marker-number:hover {
    cursor: default;
}

.hidden {
    display: none;
}

.appear {
    display: inline-block !important;
}
#feedback {
    border: solid #000 1px;
    height: 100px;
    width: 400px;
    margin: auto;
    color: #000;
}

